@font-face {
    font-family: 'InterRegular';
    src: url('./fonts/Inter-Regular.woff2') format('woff2'),
        url('./fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'InterBold';
    src: url('./fonts/Inter-Bold.woff2') format('woff2'),
        url('./fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html, body {
    margin: 0;
    height: 100%;
}

nav.scrolled{
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
}

a1 {
    font-family: "InterRegular";
}

a2 {
    font-family: "InterBold";
}

h1 {
    font-family: "InterBold";
}

summary {list-style: none}
summary::-webkit-details-marker {display: none; }

details summary::before { 
    content: '>';
    margin-right: 4px;
    /* you can style it however you want, use background-image for example */
}
  
/* By using [open] we can define different styles when the disclosure widget is open */
details[open] summary::before { 
    content:">"; 
    margin-right: 4px;
}

footer {
    background: blue;
    padding: 5rem;
    margin-top: 12%;
    height: 40%;
    text-align: center;
}

.sticky {
    height: 8rem;
    width: 14rem;
    top: 10rem;
    position: fixed;
}

.button {
    position: relative;
    padding: 8px 16px;
    background: #009579;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    height: 49px;
    width: 100px;
  }

.button:active {
    background: blue;
  }

.button--loading .button__text {
    visibility: hidden;
    opacity: 0;
}

.button__text {
    font-family: InterBold; 
    font-weight: bold; 
    color: blue;
    transition: all 0.2s;
  }
  
  .button--loading .button__text {
    visibility: hidden;
    opacity: 0;
  }
  

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: blue;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}